/*----------------
    General
-----------------*/
* {
    box-sizing: border-box;
    /*margin: 0;
    padding: 0;
   font-family: 'Poiret One', cursive;*/
}


html, body {

    width: 100%;
    height: 100%;
    min-width: 800px;
    max-height: 500px;
    background-color: #080808;
    /*background: transparent;*/

}
body {
    /*font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    position: relative;
    letter-spacing: 0.05rem;
    line-height: 1.5;
    text-align: center;
    background-color: #000000 !important;*/
}


#table{
    width: 40000px;
    /*text-align: center;*/
}
#coin-icon{
    width: 5%
}

#table_filter{
    margin-right: 5%;
    margin-top: 1%;
}

#table_length label{
    display: none !important;
}

.col-sm-7{
    display: none !important;
}

#table_info{
    display: none !important;
}

#table_length {
    margin-left: 5%;
    margin-top: 1%;
}

.col-sm-6{
    display: contents;
}

.coin{
    width: 50%;
}

#load-more{
    width: 80%;
    margin: 1% 0%;
}

#table_info{
    padding-top: 0px;
}

.green{
    color: green;
}

.red{
    color: red;
}

/*remove sorting arrows*/
table.dataTable thead .sorting {
    background : none !important;
}
table.dataTable thead .sorting_asc {
    background : none !important;
}
table.dataTable thead .sorting_desc {
    background : none !important;
}

.currency {
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    /*margin-left: 470px;*/
}




